.Intro {
  color: white;
  /*background: black;*/
  background-image: url('back.png');
  background-size: cover;
  height: 100%;
  overflow: hidden;
  text-shadow: 2px 2px 2px black;
}

.title {
  text-align: center;
  font-family: impact;
  font-size: 75px;
}

.text {
  text-align: center;
}

.Lafpic {
  width: 250px;
  float: left;
}

.Lepic {
  width: 225px;
  float: right;
}

.football {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51,51,51,.75);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.list {
  font-size: 35px;
}