body {
    color: #f7f5de;
    font-family: amazonfont;
    font-weight: normal;
    background-color:#292a2c;
}
head {
    color: #f7f5de;
}
.Lafpic {
    width: 250px;
    float: left;
  }
  
.Lepic {
    width: 225px;
    float: right;
}

.title {
    text-align: center;
    font-family: amazonfont;
    font-size: 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #f7f5de;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
.undo {
    display: revert;
    color: revert;
    text-align: revert;
    padding: revert;
    text-decoration: revert;
    float: revert;
    list-style-type: revert;
    margin: revert;
    padding: revert;
    overflow: revert;
    background-color: black;
}
.list {
    font-size: 35px;
}
div.box {
  width: 600px;
  height: 375px;
  padding: 10px;
  border: 5px solid #b57731;
  margin: 0;
  color: #f7f5de;
  font-size:20px;
}
div.absolute {
    float:right;
    position: static;
    border: 5px solid #b57731;
    width: 600px;
    height: 375px;
    padding: 10px;
    margin:10px;
    color: #f7f5de;
    font-size:25px;
  }
  div.static {
    position: static;
    border: 3px solid #73AD21;
  }
  @font-face {
    font-family: amazonfont;
    src: url(./Bookerly-Regular.ttf);
}

hr {
    background-color: #6e0e14;
    height: 8px;
    border: none;
}